*{
    padding: 0;
    margin: 0;
}


.navfondo{
  background-color:paleturquoise;
}

.buscador{
  width: 40vw;
}

.banner{
  width: 20vw; ;
  height: 45vw;
  margin-left: 25px;
}

.titulo {
  align-content: center;
  text-align: center;
  text-justify: center;
  font-size: xx-large;
  align-content: center;
  padding: 3vh;
  width: 100%;
  margin-left: 0px;
  margin-top: 0;
}

.division{
  align-content: center;
  text-align: center;
  text-justify: center;
  font-size: x-large;
  align-content: center;
  padding: 3vh;
  width: 100%;
  margin-left: 0px;
  margin-top: 0;

}

.cuerpo{
  display: grid;
  grid-template-columns: 27vw 50vw 17vw;

}
.CardsProductos {/*
  display: grid;
  grid-template-columns: 15vw 15vw 15vw;
  grid-template-rows: 25vw 25vw 25vw 25vw 25vw 25vw;
  column-gap: 1.5vw;*/
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5vw;
  

}

.canastaVacia{
  display: flex;
  flex-direction: column;
  margin-left: 30vw;
  margin-right: 30vw;
}

.canastaConProductos{
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-left: 31vw;
  margin-right: 31vw;
  margin-bottom: 1vw;
}

.productoCarritoBody{
  align-items: center;
  align-content: center;
  font-size:x-large;
}
.productoCarritoPrecio{
  font-size:x-large;

}

#comprar{
  margin-left: 27vw;
  margin-right: 27vw;
}

.producto{
  display: inline;
  height: 25vw;
  width: 15vw;
}

.filtros{
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
}

.descripcion{
  position:absolute;
  bottom: 0px;
}

.paginas{
  display: flex;
  flex-direction: column;
  row-gap: 0.5vw;
  justify-content: center;
  margin-left: 27vw;
  margin-right: 24vw;
}

footer{
  position: relative;
  bottom: 0;
  margin-top: 3vh;
}
